<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Title page</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="minimal">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-inverse">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
          <li><a href="./components.html" title="">05 : Components</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>
<!-- Add your site or app content here -->
  <div class="hero-full-container background-image-container white-text-container" style="background-image: url('./static/assets/images/space.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content">
              <h1>A little about me,<br>
                <span id="typed-strings">
                  <span>Welcome to my personal journey through the world of technology and innovation.</span>
                  <span>My name is Nhlanhla DLADLA, and I am a dedicated professional thriving in the dynamic environment of Information Systems, based in the vibrant city of Johannesburg.</span> 
                  <span>My career is a testament to my commitment to growth and excellence, as evidenced by my active involvement in various projects, training sessions and other initiatives, such as the Microsoft Azure Virtual Training Days, AWS DevOps Training, AWS Advanced Architecting Training and more</span>
                  <span>My aspirations are not just about climbing the corporate ladder; they are about leaving a mark on the industry through visionary thinking and practical execution.</span>
                  <span>I strive to be a pragmatic yet an innovative force, and those are my aspirations, where I find my self contributing to various projects like the Tech resfresh implimenting the Cisco & NetApp Flexpod solutions, Meraki SDWAN solution and a Fortigate OT Network firewall solution.</span> 
                  <span>My goal is to be known for reliability, high quality, and delivering the right technology at the right time. As a result I'm always on the look out for opportunities that can challenge me, where I can apply and expand the skills I have acquired over the years and make a difference</span>
                  <span>Join me on this website as I share my insights, experiences, and the lessons I have learned along the way. Together, let's explore the possibilities that lie ahead in the ever-evolving landscape of technology.</span>
                  <span>Where we are forever learning and growing at a very high pace with the forever changing and improving technology</span>
                </span>
                <span id="typed"></span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     movingBackgroundImage();
  });
</script>


<script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>